.em,.em-svg{height:1.5em;width:1.5em;background-position:center;background-repeat:no-repeat;background-size:contain;display:inline-block;vertical-align:middle}
.em-ladybug{background-image:url("https://github.com/ladybug-tools/artwork/raw/master/logos/emojis/ladybug.png")}
.em-honeybee{background-image:url("https://github.com/ladybug-tools/artwork/raw/master/logos/emojis/honeybee.png")}
.em-butterfly{background-image:url("https://github.com/ladybug-tools/artwork/raw/master/logos/emojis/butterfly.png")}
.em-dragonfly{background-image:url("https://github.com/ladybug-tools/artwork/raw/master/logos/emojis/dragonfly.png")}
.em-spider{background-image:url("https://github.com/ladybug-tools/artwork/raw/master/logos/emojis/spider.png")}
.em-sunpath{background-image:url("https://github.com/ladybug-tools/artwork/raw/master/icons/ladybug/png/sunpath.png")}
.em-windrose{background-image:url("https://github.com/ladybug-tools/artwork/raw/master/icons/ladybug/png/windrose.png")}
.em-psychrometricchart{background-image:url("https://github.com/ladybug-tools/artwork/raw/master/icons/ladybug/png/psychrometricchart.png")}
